<footer class="w3-row w3-center w3-opacity w3-hover-opacity-off">
    <div class="w3-third w3-container w3-small">
            <span class="w3-left">CC BY-NC-SA 2021 <a href="#" class="w3-text-white w3-hover-white">alcuni diritti riservati</a></span>
    </div>
    <div class="w3-third w3-container w3-large">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram w3-hover-opacity"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter w3-hover-opacity"></i></a>
    </div>
    <div class="w3-third w3-container w3-small">
        <span class="w3-right">Credits:&nbsp;<i class="fab fa-gitlab" aria-hidden="true"></i><a href="https://gitlab.com/malmerig" style="text-decoration: none;">&nbsp;malmerig</a></span>
    </div>
</footer>