<!-- navigation large screens -->
<nav class="w3-bar my-color w3-small w3-hide-small w3-hide-medium w3-opacity-min w3-hover-opacity-off">
    {% for item in site.data.navigation.navbar -%}
        {%- if item.url -%}
        <a href="{{ item.url }}" class="w3-bar-item w3-button">{{- item.icon -}}&nbsp;{{- item.title | upcase -}}</a>
        {%- else %}
        <div class="w3-dropdown-hover">
            <button class="w3-button">{{- item.icon -}}&nbsp;{{- item.title | upcase -}}</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                {%- for entry in item.subfolderitems %}
                    <a href="{{ entry.url }}" class="w3-bar-item w3-button">{{- entry.page -}}</a>
                {%- endfor %}
            </div>
        </div>
        {%- endif %}       
    {% endfor -%}
    </nav>
    
    <!-- navigation medium and small screens -->
    <nav class="w3-container w3-stretch my-color w3-hide-large w3-opacity-min w3-hover-opacity-off">
            <div class="w3-bar">
                <a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-large" onclick="myFunction()"><i class="fas fa-bars"></i></a>
            </div>
            <div id="navbar1" class="w3-bar-block w3-hide w3-left">
                {%- for item in site.data.navigation.navbar -%}
                {%- if item.url -%}
                    <a href="{{ item.url }}" class="w3-bar-item w3-button">{{- item.icon -}}&nbsp;{{- item.title | upcase -}}</a>
                {%- else -%}
                <div class="w3-dropdown-hover">
                    <button class="w3-button">{{- item.icon -}}&nbsp;{{ item.title | upcase }}&nbsp;<i class="fas fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {%- for entry in item.subfolderitems -%}
                        <a href="{{ entry.url }}" class="w3-bar-item w3-button">{{- entry.page -}}</a>
                    {%- endfor -%}
                    </div>
                </div>
                {%- endif -%}       
            {%- endfor -%}
            </div>
    </nav>