---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
/* -- website style -- */
$fontsize: 16px;
$fontsizeH1: 40px;
$fontsizeH2: 30px;
$fontsizeH3: 24px;
$fontsizeH4: 22px;
$fontsizeH5: 20px;
$fontsizeH6: 18px;
$line-height:1.5;
$font-family-1:Raleway;
$font-family-2:Monserrat;
$color1:#2196F3;
$color2:#fff;

.my-color,.my-hover-color:hover{
    color:$color2!important;background-color:$color1!important
    }

.my-text-color,.my-hover-text-color:hover{
    color:$color1!important
    }

.my-border-color,.my-hover-border-color:hover{
    border-color:$color1!important
    }

html,body{
    font-family:$font-family-1,sans-serif;
    font-size:$fontsize;
    line-height:$line-height}

html{overflow-x:hidden}

h1{font-size:$fontsizeH1}
h2{font-size:$fontsizeH2}
h3{font-size:$fontsizeH3}
h4{font-size:$fontsizeH4}
h5{font-size:$fontsizeH5}
h6{font-size:$fontsizeH6}

.w3-serif{font-family:serif}
.w3-sans-serif{font-family:sans-serif}
.w3-cursive{font-family:cursive}
.w3-monospace{font-family:monospace}

h1,h2,h3,h4,h5,h6{font-family:$font-family-2,sans-serif;font-weight:400;margin:10px 0}

.w3-wide{letter-spacing:4px}

hr{border:0;border-top:1px solid #eee;margin:20px 0}

@import "_w3css-base";
@import "_w3css-style";
@import "_w3css-colors";