<!DOCTYPE HTML>
<html lang="it">
<!-- Head -->
{%- include head.html -%}
<body class="my-color">
<!-- Nav -->
{%- include nav.html -%}
<!-- Body: includes Header and Section(s) -->
{{ content -}}
<!-- Footer -->
{%- include footer.html -%}
<!-- End of page JS scripts -->
</body>
</html>