---
layout: default
---
<body>
  <header class="w3-container">
    <h1 class="w3-center">{{ page.title }}</h1>
  </header>
  <section class="w3-container">
    {{ content -}}
  </section>
<!-- Body -->
</body>
</html>